<div class='row'>
  <div class='col-md-4'>
    <app-player-list [errorMessage]="errorMessage$ | async"
                     [displayCode]="displayCode$ | async"
                     [players]="players$ | async"
                     [selectedPlayer]="selectedPlayer$ | async"
                     (displayCodeChanged)="checkChanged()"
                     (initializeNewPlayer)="newPlayer()"
                     (playerWasSelected)="playerSelected($any($event))">
    </app-player-list>
  </div>
  <div class='col-md-8'>
    <app-player-edit></app-player-edit>
  </div>
</div>